.game-grid {
  position: relative;
}

.game-page-container {
  display: flex;
  justify-content: center;
}

.game-container {
  width: 800px;
}

.messages-container {
  width: 800px;
  height: 250px;
}

.input-container {
  background-color: red;
  width: 800px;
}

.piece {
  height: 120px;
}

.column {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
}

.game-grid {
  position: relative;
}

.image-div,
.pieces-div {
  position: absolute;
  left: 0;
  top: 0;
}

.spot00 {
  position: absolute;
  top: 565px;
  left: 5px;
}

.spot01 {
  position: absolute;
  top: 450px;
  left: 5px;
}

.spot02 {
  position: absolute;
  top: 340px;
  left: 5px;
}

.spot03 {
  position: absolute;
  top: 231px;
  left: 5px;
}

.spot04 {
  position: absolute;
  top: 121px;
  left: 5px;
}

.spot05 {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* col1 */
.spot10 {
  position: absolute;
  top: 565px;
  left: 116px;
}

.spot11 {
  position: absolute;
  top: 450px;
  left: 116px;
}

.spot12 {
  position: absolute;
  top: 340px;
  left: 116px;
}

.spot13 {
  position: absolute;
  top: 231px;
  left: 116px;
}

.spot14 {
  position: absolute;
  top: 121px;
  left: 116px;
}

.spot15 {
  position: absolute;
  top: 5px;
  left: 116px;
}

/* col-2 */
.spot20 {
  position: absolute;
  top: 565px;
  left: 227px;
}

.spot21 {
  position: absolute;
  top: 450px;
  left: 227px;
}

.spot22 {
  position: absolute;
  top: 340px;
  left: 227px;
}

.spot23 {
  position: absolute;
  top: 231px;
  left: 227px;
}

.spot24 {
  position: absolute;
  top: 121px;
  left: 227px;
}

.spot25 {
  position: absolute;
  top: 5px;
  left: 227px;
}

.spot30 {
  position: absolute;
  top: 565px;
  left: 340px;
}

.spot31 {
  position: absolute;
  top: 450px;
  left: 340px;
}

.spot32 {
  position: absolute;
  top: 340px;
  left: 340px;
}

.spot33 {
  position: absolute;
  top: 231px;
  left: 340px;
}

.spot34 {
  position: absolute;
  top: 121px;
  left: 340px;
}

.spot35 {
  position: absolute;
  top: 5px;
  left: 340px;
}

.spot40 {
  position: absolute;
  top: 565px;
  left: 451px;
}

.spot41 {
  position: absolute;
  top: 450px;
  left: 451px;
}

.spot42 {
  position: absolute;
  top: 340px;
  left: 451px;
}

.spot43 {
  position: absolute;
  top: 231px;
  left: 451px;
}

.spot44 {
  position: absolute;
  top: 121px;
  left: 451px;
}

.spot45 {
  position: absolute;
  top: 5px;
  left: 451px;
}

/* col-5 */
.spot50 {
  position: absolute;
  top: 565px;
  left: 563px;
}

.spot51 {
  position: absolute;
  top: 450px;
  left: 563px;
}

.spot52 {
  position: absolute;
  top: 340px;
  left: 563px;
}

.spot53 {
  position: absolute;
  top: 231px;
  left: 563px;
}

.spot54 {
  position: absolute;
  top: 121px;
  left: 563px;
}

.spot55 {
  position: absolute;
  top: 5px;
  left: 563px;
}

.spot60 {
  position: absolute;
  top: 565px;
  left: 674px;
}

.spot61 {
  position: absolute;
  top: 450px;
  left: 674px;
}

.spot62 {
  position: absolute;
  top: 340px;
  left: 674px;
}

.spot63 {
  position: absolute;
  top: 231px;
  left: 674px;
}

.spot64 {
  position: absolute;
  top: 121px;
  left: 674px;
}

.spot65 {
  position: absolute;
  top: 5px;
  left: 674px;
}
